@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

header{
margin-bottom: 0px !important;
font-family: 'Merriweather', serif;
}

#chat{
    padding:50px 0px;
    background-image: url(../assets/bg.png);
}

.msg{
    display: flex;
    padding: 10px;
}

.content{
    padding: 10px 20px;
    border-radius: 50px;
    margin:0 10px;
}

.msg.bot{
    margin-right: 30%;
}


.bot .content{
    border-top-left-radius: 0px;
    background-color:rgba(255,255,255,0.8);
    font-family: 'Merriweather', serif;
}

.bot::before{
content:"";
width:64px;
height: 64px;
border-radius: 32px;
background-image:url(../assets/bot.jpg);
background-size: cover;
}


.msg.user{
    margin-left: 30%;
    justify-content: flex-end;
}


.user .content{
    border-top-right-radius: 0px;
    background-color:rgba(255,255,100,0.8);
    font-family: 'Merriweather', serif;
}

.user::after{
content:"";
width:64px;
height: 64px;
border-radius: 32px;
background-image:url(../assets/botuser.png);
background-size: cover;


}

.label{
text-transform: capitalize;
font-weight: 500;
margin-right:10px;

}

#userinput{
    border:none;
    outline: none;
}
